@import './base/variables';
* {
	box-sizing: border-box;
}

body {
	background: url('../img/mainbg.jpg') 50% / cover no-repeat;
}

.live {
	&__wrapper {
		max-width: 1250px;
		margin: 0px auto;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
	&__res {
		width: 450px;
		height: 200px;
		background-color: $ez-color;
		font-size: 20px;
		text-align: center;
		border-radius: 10px;
		span {
			display: block;
			margin: 30px;
		}
	}
	&__form {
		max-width: 440px;
		padding: 30px;
		border-radius: 10px;
		input {
			display: block;
			width: 250px;
			height: 40px;
			border: solid 2px $main-color;
			border-radius: 10px;
			margin: 0 auto 20px auto;
			font-size: 20px;
			color: $main-color;
			padding-left: 15px;
			padding-right: 15px;
		}
		label {
			display: block;
			font-size: 25px;
			text-align: center;
			color: $ez-color;
			margin: 0 auto 5px auto;
		}
		button {
			display: block;
			width: 150px;
			height: 40px;
			margin: 0 auto;
			background-color: $main-color;
			border: none;
			color: $ez-color;
			border-radius: 10px;
			font-size: 20px;
			&:hover {
				background-color: $hard-color;
			}
			&:active {
				transform: scale(1.05);
			}
		}
	}
}

.helper {
	h2 {
		text-align: center;
		color: $ez-color;
		margin: 0 0 0 0;
	}
	&__result {
		font-size: 20px;
		color: $hard-color;
	}
	&__result-allHouse {
		span {
			display: block;
			text-align: center;
			border-radius: 10px;
			height: 30px;
			background-color: $ez-color;
		}
		margin: 30px;
		font-size: 27px;
	}
	&__wrapper {
		max-width: 100%;
		margin: 0 auto;
		padding: 10px;
		//background-color: $main-color;
		border-radius: 10px;
	}
	&__wrapper2 {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 100%;
		margin: 0 auto;
		padding: 10px;
		//background-color: $main-color;
		border-radius: 10px;
		font-size: 20px;
	}
	label {
		display: block;
		width: 100%;
		margin-bottom: 10px;
		color: $main-color;
	}
	input {
		display: block;
		width: 100%;
		height: 30px;
		border-radius: 10px;
		padding: 15px;
		font-size: 20px;
		color: $main-color;
		border: solid 2px $main-color;
	}
	&__item {
		background-color: $ez-color;
		width: 320px;
		margin: 15px;
		padding: 15px;
		border-radius: 10px;
	}
}
::placeholder {
	color: $main-color;
}
.chart {
	width: 300px;
	height: 300px;
	margin: 20px;
	canvas {
		font-size: 20px;
	}
}
